'name': 'KeyValue'
'scopeName': 'source.keyvalue'
'fileTypes': [
  'kv'
]
'patterns': [
  {
    'match': '^\\s*("[^"]*")\\s*$'
    'captures':
      '1':
        'name': 'keyword.other.keyvalue'
  }
  {
    'match': '^\\s*("[^"]*")'
    'captures':
      '1':
        'name': 'support.function.keyvalue'
  }
  {
    'begin': '\''
    'beginCaptures':
      '0':
        'name': 'punctuation.string.begin.keyvalue'
    'end': '\''
    'endCaptures':
      '0':
        'name': 'punctuation.string.end.keyvalue'
    'name': 'string.quoted.single.keyvalue'
    'patterns': [
      {
        'include': 'punctuation.string.begin.keyvalue'
      }
      {
        'include': 'punctuation.string.end.keyvalue'
      }
      {
        'match': '\\\\.'
        'name': 'constant.character.escape.keyvalue'
      }
    ]
  }
  {
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.string.begin.keyvalue'
    'end': '"'
    'endCaptures':
      '0':
        'name': 'punctuation.string.end.keyvalue'
    'patterns': [
      {
        'include': 'punctuation.string.begin.keyvalue'
      }
      {
        'include': 'punctuation.string.end.keyvalue'
      }
      {
        'match': '\\\\.'
        'name': 'constant.character.escape.keyvalue'
      }
      {
        'match': '-?\\d+(\\.\\d+)?(\\s+-?\\d+(\\.\\d+)?\\s*)*'
        'name': 'constant.numeric.keyvalue'
      }
      {
        'match': '[^"]+'
        'name': 'string.quoted.double.keyvalue'
      }
    ]
  }
  {
    'begin': '//'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.comment.keyvalue'
    'end': '\\n'
    'name': 'comment.line.double-slash.keyvalue'
  }
]
